--extra-index-url https://download.pytorch.org/whl/cu118
pandas
scikit_learn
scipy
supervision
torch
ultralytics
roboflow
opencv-python

scikit-learn
numpy
loguru
lap
Cython
h5py
Pillow
six
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio
chardet
tabulate
pycocotools
thop
seaborn
torchvision
torchaudio
torchreid